{%extends 'base_club.html'%}


{%block script%}
    <script>
        domain = "http://127.0.0.1:8000";
        function teacherbutton() {
            window.location.replace(domain + "/register/teacher-sign-up");
        }

        function redirect_to_login_page() {
            window.location.replace(domain + "/login");
        }

        function redirect_to_sign_up_page() {
            window.location.replace(domain + "/register/student-sign-up");
        }

        function redirect_to_teacher_home_page() {
            window.location.replace(domain + "/teacher-home");
        }

        function teacher_event_page() {
            window.location.replace(domain + "/teacher-school-event");
        }

        function teacher_announcement_page() {
            window.location.replace(domain + "/teacher-home");
        }

        function delete_club2() {
            var val = confirm("Do you want to delete the club {{club.name}}?");
            if (val == true) {
                document.getElementById("delete_club").click();
            }
        }


    </script>
{%endblock%}


{%block body%}
<div class="container">
    <form method="POST">

        {% csrf_token %}
   
        <button class="back"name="back" type="submit">&#129044</button> <br>
        

        <h1 class="dashboard">{{club.name}}</h1> 
        <hr>


        {% if member2.isOwner %}
        <div class="">
            <button class="buttons"type="button" onClick="delete_club2()">Delete Club</button>
            <br>
            <button type="submit" name="delete_club" style="visibility: hidden;" id="delete_club">Delete Club</button>
        </div>
            {% endif %}

        <h5>{{club.description}}</h5> <br> <h5>Passcode: {{passcode}}</h5>

        {% if member2.isOwner %}
            <button type="submit" name="refresh">Refresh (put a icon here)</button> <br> <br>
        {% endif %}

<div class="row">
        <!--ANNOUNCEMENTS-->

        <div class="col-8">
        <br> <br>
        <div class="heading-club heading"><h3>announcements</h3></div>
        <div class="create create-club announcements-whole-club">
        {% for announcement in announcements %}
        <div class="announcement-list row">
            <div class='col-10'>
        <h1>{{announcement.announcement_title}}</h1>
        <h4>{{announcement.announcement_content}}</h4>
    </div>
    <div class=" col-2 justify-content-center d-flex">
        <button class="view" name="a{{announcement.id}}" type="submit">View</button>
    </div>
        </div>
        {% endfor %}
    </div>
    <button class="buttons"name="create_announcement" type="submit">Create Announcement</button>

</div>

        <!--EVENTS-->
        <div class="col-4">
        <br> <br>

        <div class="heading-club heading"><h3>Events</h3></div>

        <div class="create create-club announcements-whole-club">
        {% for event in events %}
        <div class="announcement-list row">
            <div class='col-9'>
        <h1>{{event.event_title}}</h1>
        <h4>{{event.event_content}} • {{event.event_date}}</h4>
    </div>
    
    <div class=" col-3 justify-content-center d-flex">
        <div class="container-fluid">
        <button class="view"name="e{{event.id}}" type="submit">View</button>
    </div>
    </div>
</div>

        {% endfor %}
</div>
        <button class=" buttons"name="create_event" type="submit">Create Event</button>
    </div>



        <!--MEMBERS-->
        <div class="col-4">
        <br> <br>
        <div class="heading-club heading"><h3>Members</h3></div>

        <div class="create create-club announcements-whole-club">
        {% for member in members %}
        <div class="announcement-list row">
        {% if member.isOwner %}
            <h1>{{member.user}} • Creator</h1>
        {% elif member.isCreator %}
            <h1>{{member.user}} • Teacher</h1>
        {% elif member.isPresident %}
            <h1>{{member.user}} • President</h1>
        {% else %}
            <h1>{{member.user}} • Member</h1>
        {% endif %}
        </div>
        {% endfor %}
        </div>
        <button class="buttons"name="member_list" type="submit">Members List</button>
    </div>


    </div>
    </form>
</div>

{%endblock%}
